<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modification de Site</title>
  <!-- Add your styles here if needed -->
</head>

<body>
  <h1>Modification de Site</h1>
  <form method="post" action="{% url 'modifier_site' site.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Modifier</button>
  </form>
  <br>
  <a href="{% url 'liste_sites' %}">Retour à la liste des sites</a>
</body>

</html>